/*css for Index*/

.background{
	background-image:url(ocean.jpg);
	width: 100%;
	height: 100%;
	z-index: -1;
	

	

}





/*css for contact*/
body{
	text-align: center;
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5));
	background-image: url(mountains.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}