/*css for Index*/

*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}

.container{
	background-image:url(mountains.jpg);
	width:100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
	
	

	

}





/*css for contact*/
	
	
	

	


	