/*css for Index*/

*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

.container{
	background-image:url(hell.jpg);
	width:100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	
}
body{
	font-family: sans-serif;
}
 nav{
 	background: green;
 	height: 80px;
 	width: 100%;
 }
nav ul{
	text-align: center;
	display: inline-flex;
	margin: 23pz;
}
nav ul li a{
	display: inline-grid;
	margin: 15px;
	color: #fff;
	padding: 10px;
	width: 200px;
	
	
}
nav ul li a:hover
{
	background: black;
	border-radius:2px;
}

label.logo{
	color: white;
	font-size: 20px;
	line-height: 5px;
}


/*css for contact*/
*{
	box-sizing: border-box;
}

.welcome{
	background-image: url(ballon.jpg);
	width:100%;
	height:100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mango{
	text-align: center;
	font-family: sans-serif;
	padding-top: 5px;
	color: azure;
	font-size: 25px;
}

	
	
	
	

	


	