/*css for Index*/

*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}

.container{
	background-image:url(mountains.jpg);
	width:100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
	
	

	

}





/*css for contact*/
*{
	box-sizing: border-box;
}

.welcome{
	background-image: url(ballon.jpg);
	width:100%;
	height:100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mango{
	text-align: center;
	font-family: sans-serif;
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)
}

	
	
	
	

	


	