/*css for Index*/

*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

.container{
	background-image:url(hell.jpg);
	width:100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	
}
body{
	font-family: sans-serif;
}
 nav{
 	background: #334F64;
 	height: 80px;
 	width: 100%;

 }
nav ul{
	text-align: center;
	display: inline-flex;
	margin: 10px;
	padding-top: 1px;

}
nav ul li a{
	display: inline-grid;
	margin: 10px;
	color: #fff;
	padding: 15px;
	width: 120px;
	
	
}
nav ul li a:hover
{
	background: #fff;
	border-radius:2px;
	color:black;
}

label.logo{
	color: white;
	font-size: 30px;
	line-height: 20px;
	font-weight: bold;
	padding:30px;
	margin: 10px;
}

.active{
	padding:70px;
	text-align: center;
	font-family: sans-serif;
	color: #fff;
	font-size:20pt;
}

.button{
	padding: 50px;
	top: 60%;

}

.text{
	border: 1px solid;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.7s ease;
}

.text:hover{

	background: #fff;
	border-radius:2px;
	color:black;

}


      /*css for contact*/
*{
	box-sizing: border-box;
}

.welcome{
	background-image: url(milkyway.jpg);
	width:100%;
	height:100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}

.mango{
	text-align: center;
	font-family: sans-serif;
	padding-top: 10px;
	color: azure;
	font-size: 25px;
	color: #ffffff;
}

nav ul{
	text-align: center;
	display: inline-flex;
	margin: 10px;
	padding-top: 1px;
}
	
nav ul li a{
	display: inline-grid;
	margin: 10px;
	color: #fff;
	padding: 15px;
	width: 120px;
}

label.symbol{
	color: white;
	font-size: 30px;
	line-height: 20px;
	font-weight: bold;
	padding:30px;
	margin: 10px;
}
form h3{
	color: black;
}
form{
	display:inline-grid;
	width: 90%;
	padding: 2vw 3vw;
	max-width: 600px;
	border-radius: 10px;
	background: #fff;
	margin: 10px;
}

form textarea{
	margin:10px 0 ;
	padding: 6px;
	font-size: 16px;
	background: #f5f5f5;
	outline: none;

}

form input{
	margin:10px 0 ;
	padding: 6px;
	font-size: 16px;
	background: #f5f5f5

	
}

form button{
	padding: 4px;
	background:#03AC13;
	color: white;
	font-size: 18px;
	border-radius: 25px;
	margin: 10px auto 0;
	cursor: pointer;
	width: 150px;
}

/*css for portfolio*/

.title{
	background-image: url(galaxy.jpg);
	width:100%;
	height:100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}

label.style{
	color: white;
	font-size: 30px;
	line-height: 20px;
	font-weight: bold;
	padding:30px;
	margin: 10px

}

.wrapper{
	display: grid;
	width: 1200px;
	margin: 0 auto;
	padding: 100px;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	grid-gap: 10px;
	box-sizing: border-box;
	height: auto;

	
	

}

.wrapper .item{
	position: relative;
	text-align: center;
	padding: 20px 40px 40px;
	overflow: hidden;
	border-radius: 20px;
	background: #fff;



}
.wrapper .item:nth-child(1){
	background: linear-gradient(10deg,#086d35,#00ff72);
	
}
	
.wrapper .item:nth-child(2){
	background: linear-gradient(10deg,#036eb7,#64eaff);

}

.wrapper .item:nth-child(3){
	background: linear-gradient(10deg,#f05a4f,#f4c030);

}


.wrapper .item p{
	font-size: 26px;
	color: #fff;
}

.wrapper .item h1{
	color:#fff;
}


/*css for blog*/

label.box{
	color: white;
	font-size: 30px;
	line-height: 20px;
	font-weight: bold;
	padding:30px;
	margin: 10px;

}

.paper{
	display: grid;
	padding: 10px;
	background: black;
	grid-template-columns: auto auto auto;
	grid-column-gap: 50px;
}

.grid{
	background-color: rosybrown;
	border: 2px sold greenyellow;
	padding: 20px;
	font-size: 40px;
	text-align: center;
}